.header {
    height: 80px;
    background-color: #1c2b35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 36px;
    font-size: 17px;
}


.header a:hover {
    color: orange;
}

.header .active {
    color: orangered;
}

.btn-logout {
    margin: 0 10px;
}